<!DOCTYPE html>
<head>
</head>
<body>
    <p>Current games</p>
    {% for game in games %}
    <div>
        <a href="./{{ game.id }}">
            {{ game.id }}
        </a>
    </div>
    {% endfor %}
</body>
</html>