<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        playerColor = {
            0: "white",
            1: "red",
            2: "green",
            3: "blue",
            4: "yellow"
        };
        x0 = 20;
        y0 = 20;
        squareLength = 20;
        $(document).ready(function() {
            a_canvas = $("#a_canvas")[0];
            ctx = a_canvas.getContext("2d");
            for (let i = 0; i<20; i++) {
                ctx.fillText(i, x0-19,y0+14+squareLength*i);
                ctx.fillText(i,x0+4 + squareLength*i, y0-4);
            }
            fillAllRect();
        });
        function fillOneRect(x,y,player) {
            const x1 = x0+squareLength*x;
            const y1 = y0+squareLength*y;
            ctx.fillStyle = playerColor[player];
            ctx.fillRect(x1,y1,squareLength,squareLength);
            ctx.strokeStyle = "#DDD"
            ctx.strokeRect(x1,y1,squareLength,squareLength)
        }
        function fillAllRect() {
            let XHR = new XMLHttpRequest();
            XHR.open("GET", "/game/1/field/");
            XHR.setRequestHeader("Content-Type", "application/json");
            XHR.onload = function () {
                res = XHR.response;
                field = JSON.parse(res);
                for (const e of field) {
                    fillOneRect(e.x,e.y,e.player);
                }
                allBigStroke();
            };
            XHR.send();
        }
        function bigStroke(n,m) {
            ctx.strokeStyle = "#000";
            const bigSquareLength = squareLength*5
            const x1 = x0 + bigSquareLength * n;
            const y1 = y0 + bigSquareLength * m;
            ctx.strokeRect(x1,y1,bigSquareLength,bigSquareLength);
        }
        function allBigStroke() {
            for (let i = 0; i<4; i++) {
                for (let j=0; j<4; j++) {
                    bigStroke(i,j);
                }
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="hello">
            <p> Hello, {{ player_name }}!</p>
        </div>
        <div class="field">
            <canvas width="450" height="430" id="a_canvas">
            </canvas>
        </div>
        <div class="commit">
            <form class="commit-form" method="" action="" onsubmit="return false">
                <div class="commit-form">
                    <label for="user_id">user_id:</label>
                    <input type="number" name="user_id" id="user_id" required>
                </div>
                <div class="commit-form">
                    <label for="piece-id">piece-id:</label>
                    <input type="number" name="piece-id" id="piece-id" required>
                </div>
                <div class="commit-form">
                    <label for="fliprot-id">fliprot-id:</label>
                    <input type="number" name="fliprot-id" id="fliprot-id" required>
                </div>
                <div class="x">
                    <label for="x">x:</label>
                    <input type="number" name="x" id="x" required>
                </div>
                <div class="y">
                    <label for="y">y:</label>
                    <input type="number" name="y" id="y" required>
                </div>
                <input type="submit" value="送信">
            </form>
        </div>
    </div>
    <script>
        function clickFieldToAppendXy() {
            function onClick(e) {
                let button = e.target.getBoundingClientRect();
                let mouseX = e.clientX - button.left;
                let mouseY = e.clientY - button.top;
                let x = Math.floor((mouseX-x0)/squareLength)
                let y = Math.floor((mouseY-y0)/squareLength)
                inputXy(x, y);
            }
            function inputXy(s1, s2) {
                document.querySelector("#x").value = s1;
                document.querySelector("#y").value = s2;
            }
            a_canvas.addEventListener('click', onClick);
        }
        clickFieldToAppendXy();
    </script>
    <script>
        const btn = document.querySelector("body > div > div.commit > form > input[type=submit]");
        const user_id = document.querySelector("#user_id");
        const pieceId = document.querySelector("#piece-id");
        const flipRotId = document.querySelector("#fliprot-id");
        let x = document.querySelector("#x");
        let y = document.querySelector("#y");
        function sendData( data ) {
            let body = {
                "user_id": Number(user_id.value),
                "piece_id": Number(pieceId.value),
                "fr_id": Number(flipRotId.value),
                "coordinate": {
                    "x": Number(x.value),
                    "y": Number(y.value)
                }
            }
            let body_s = JSON.stringify(body)
            let XHR = new XMLHttpRequest();
            XHR.open("PUT", "/game/1/field/piece/");
            XHR.setRequestHeader("Content-Type", "application/json");
            XHR.onload = function () {
                if (XHR.status===200) {
                    fillAllRect();
                } else if (XHR.status===422) {
                    window.alert(XHR.response);
                }
            };
            XHR.send(body_s);
        }
        btn.addEventListener('click', sendData);
    </script>
</body>
</html>